@import '../../../styles/var.scss';
@import '../../../styles/_mixins.scss';
@import '../../../styles/base/typography';

.formContainer {
  width: 296px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 0.5rem;
  .inputsWrapper {
    width: 296px;
    height: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 4px;
    quotes: auto;
    label {
      @extend .paragraph4;
      text-align: left;
      color: $natural-50;
    }

    input[type='text'],
    input[type='email'],
    input[type='tel'],
    input[type='password'] {
      @include inputs;
      @extend .paragraph3;
    }

    &:placeholder-shown {
      color: $natural-30;
    }

    .errors {
      position: absolute;
      color: $danger-50;
      bottom: -2px;
      font-size: 0.8125rem;
      overflow: hidden;
    }
  }
  .passwordContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .toggleEye {
      position: absolute;
      right: 5px;
      top: 35px;
      width: 40px;
      height: 40px;
      border: none;
      &.openEye {
        background: url(src/images/EyeLine.svg) no-repeat scroll 7px 7px;
      }
      &.closeEye {
        background: url(src/images/EyeCloseLine.svg) no-repeat scroll 7px 7px;
      }
    }
  }
}
