$mainFont: "Josefin Sans", sans-serif;
$brandFont: "Circe", cursive;
$brandColor: rgb(231, 199, 134);
$blackColor: rgb(12, 11, 16);
$redColor: #dc3545;
$box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);

$lightGrey: #cccece;
$grey: #999e9c;
$darkGrey: #676d6b;
$black: #343d39;
$green: #47ae8c;
$darkGreen: #269470;



$primary-40: #77A28D;
$primary-50: #537A67;
$primary-60: #426252;
$natural-50: #575C5A;
$danger-50: #E02D3C;