$mainFont: 'Josefin Sans', sans-serif;
$brandFont: 'Circe', cursive;

@font-face {
  font-family: 'Circe';
  src: url('../../public/fonts/CRC25.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Bold';
  src: url('../../public/fonts/CRC65.woff') format('woff');
  font-weight: bolt;
  font-style: normal;
}

$brandColor: rgb(231, 199, 134);
$blackColor: rgb(12, 11, 16);
$redColor: #dc3545;
$box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);

$lightGrey: #cccece;
$grey: #999e9c;
$darkGrey: #676d6b;
$black: #343d39;
$green: #47ae8c;
$darkGreen: #269470;

$primary: #537a67 !default; //this is a basic color - Primary/50
// Example how to Use: darken($primary, 10%) - will look like Primary/60(#426252), lighten($primary, 20%) - - will look like Primary/30( #92b5a4),

$secondary: #6c1144;

$third: #f5e2ce;

$natural: #575c5a;

$danger: #e02d3c;

$success: #47ae8c;

$yellow: #f0a106;

$white: #ffffff;

$black: #000000;

$primary-40: #77a28d;
$primary-50: #537a67;
$primary-60: #426252;
$natural-50: #575c5a;
$danger-50: #e02d3c;
