@import '/src/styles/var.scss';

h3 {
  text-align: center;
}
.productPageContent {
  width: 100%;
  padding: 10px;

  .galleryAndInfoContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .infoAndPriceContainer {
      width: 70%;
      margin-left: 30px;
    }
  }
}
