@import '../../styles/var.scss';

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin buttonL() {
  height: 44px;
  width: 296px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 120%;
  border-radius: 8px;
  border: none;
  gap: 8px;
}

@mixin buttonM() {
  width: 296px;
  height: 36px;
  display: flex;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: Circe;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-color: $white;
  color: $primary;
  border: none;
}

@mixin Heading4() {
  font-family: Circe;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.signUpContainer {
  width: 1056px;
  height: 800px;
  // the next three lines are used when a layout is applied
  // position: relative;
  // top: 112.5px;
  // left: 192px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;

  .imgContainer {
    width: 520px;
    height: 800px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    .imgBuyer {
      width: 488px;
      height: 768px;
      border-radius: 20px;
    }
    .imgSeller {
      width: 488px;
      height: 664px;
      border-radius: 20px;
    }
    .steps {
      display: flex;
      height: 104px;
      justify-content: center;
      align-items: center;
      font-family: Circe;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }
  .contentContainer {
    width: 536px;
    height: 800px;
    padding: 60px 0px 20px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    flex-shrink: 0;

    h4 {
      height: 36px;
      display: flex;
      justify-content: center;
      text-align: center;
      color: darken($primary, 40%);
      @include Heading4();
    }

    .formContentContainer {
      width: 296px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 16px;
      .rolesButtons {
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;

        button {
          @include buttonM();
        }
        .active {
          border: 1px solid $primary;
          border-radius: 8px;
        }
      }
    }

    .checkboxLabel {
      width: 296px;
      height: 34px;
      display: flex;
      justify-content: center;
      font-size: 0.875rem;
      line-height: 1.05rem;
      font-family: Circe;
      font-weight: 400;
      cursor: pointer;
      input[type='checkbox'] {
        height: 24px;
        width: 24px;
        accent-color: $primary;
        border: 2px solid $primary;
        outline: none;
        margin-right: 5px;
      }
      .checked {
        accent-color: $primary;
        border: 2px solid $primary;
      }
      .unchecked {
        -webkit-appearance: none;
        appearance: none;
        accent-color: $primary;
        border: 2px solid $primary;
        outline: none;
      }
    }
    .signUpButton {
      @include buttonL();
      background-color: $primary;
      color: $white;
    }
    .signUpEnabled {
      cursor: pointer;
    }
    .signUpDisabled {
      background-color: lighten($natural, 30%);
      cursor: not-allowed;
    }

    .signInLink {
      @include buttonL();
      color: $primary;
    }

    .userAgreement {
      position: absolute;
      bottom: 20px;
      font-size: 0.75rem;
      font-family: Circe;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      .userAgreementLink {
        color: $primary;
      }
    }
  }
}
