@import '/src/styles/var.scss';
@import '/src/styles/mixins.scss';
@import '/src/styles/base/typography.scss';

.headerContainer {
  width: 100%;
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 2rem 0.4rem 1rem 0.4rem;

  .hr {
    border-bottom: 1px solid $primary-20;
    margin: 0;
  }
}

.stickyStyle {
  position: sticky;
  z-index: 2;
  top: 0;
}
