@import '/src/styles/var.scss';
@import '/src/styles/mixins.scss';
@import '/src/styles/base/typography.scss';

.headerContainer {
  width: 100%;
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding-top: 2rem;
}
