@import '../../styles/var.scss';
@import '../../styles/mixins.scss';
@import '../../styles/base/typography.scss';

.formContainer {
  width: 296px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0px;
  row-gap: 1.5rem;
  .inputsWrapper {
    width: 296px;
    height: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
    label {
      @extend .paragraph4;
      text-align: left;
      color: $natural;
    }
    input[type='email'],
    input[type='password'] {
      @include inputs;
      @extend .paragraph3;

      &:placeholder-shown {
        color: lighten($natural, 20%);
      }
    }
  }

  .errors {
    position: absolute;
    color: lighten($danger, 20%);
    bottom: 0;
    font-size: 0.8125rem;
  }
}
.passwordContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .toggleEye {
    position: absolute;
    right: 5px;
    top: 20px;
    width: 40px;
    height: 40px;
    border: none;
    &.openEye {
      background: url(src/images/EyeLine.svg) no-repeat scroll 7px 7px;
    }

    &.closeEye {
      background: url(src/images/EyeCloseLine.svg) no-repeat scroll 7px 7px;
    }
  }
}
