@import '/src/styles/var.scss';
@import '/src/styles/_mixins.scss';
@import '/src/styles/base/typography';

.formContainer {
  width: 296px;
  height: fit-content;
  row-gap: 1.5rem;

  label {
    @extend .paragraph4;
    text-align: left;
    color: $natural-50;
  }

  input {
    height: 40px;
    width: 100%;
    border: none;
    background: none;
    background-color: transparent;

    &:focus-visible {
      outline: none;
      background: none;
    }
  }

  .inputContainer {
    display: flex;
    outline: 1px solid $primary-30;
    border-radius: 8px;
    background: none;
    background-color: transparent;

    &:focus-within {
      outline: 2px solid $primary-40;
      background: none;
      background-color: transparent;
    }
  }

  .errors {
    color: $danger-30;
    font-size: 0.8rem;
  }

  .buttonXCircle {
    border: none;
    background: none;
  }

  .emailContainer {
    margin-bottom: 20px;
  }

  .passwordContainer {
    width: 100%;

    .toggleEye {
      width: 40px;
      height: 40px;
      border: none;
      background: none;
    }
  }

  .inputErrorClass {
    border: 2px solid $danger-30;
  }

  .hint {
    font-size: 0.8rem;
    color: $natural-50;
  }
}
