@import '/src/styles/var.scss';
@import '/src/styles/_mixins.scss';
@import '/src/styles/base/typography';

.formContainer {
  width: 296px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 1.5rem;

  .inputsWrapper {
    width: 296px;
    height: 80px;
    display: flex;
    flex-direction: column;
    position: relative;

    label {
      @extend .paragraph4;
      text-align: left;
      color: $natural-50;
    }

    input[type='text'],
    input[type='email'],
    input[type='password'] {
      @include inputs;
      @extend .paragraph3;
    }

    &:placeholder-shown {
      color: $natural-30;
    }

    .errors {
      color: $danger-30;
      font-size: 0.8125rem;
    }
  }

  .passwordContainer {
    width: 100%;
    // display: flex;
    // flex-direction: column;
    .toggleEye {
        width: 40px;
        height: 40px;
        border: none;
        background: none;
      }

    input[type='password'] {
      &.inputErrorClass {
        border: 2px solid $danger-30;
      }
    }
    
    .hint {
      font-size: 0.8125rem;
      color: $natural-50;
    }
  }
}
