  .heart {
    position: absolute;
    right: 20px;
    top: 20px;

    &:hover{
      scale: 1.5;
      transition: all 0.2s ease-out;
    }
  }

.cardImage {
  display: flex;
  flex-direction: column;


}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  color: #211919;
}

.text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  .manufacturerLink {
    &:hover {
      text-decoration: underline;
    }
  }

  .isAvailable {
    color: #e89c40;
    text-overflow: ellipsis;
    font-family: Circe;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .regularPrice {
    color: #b3b6b5;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    text-decoration: line-through;
  }

  .salePrice {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .btn {
    margin-top: 20px;
    display: flex;
    width: 140px;
    height: 36px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #e89c40;
    color: #ffff;

    &:hover{
        background-color:  #e08311;
    }
  }
}
