@import '/src/styles/var.scss';
.passwordContainer {
  margin-top: 0.5rem;

  label {
    font-size: 16px;
    line-height: 20px;
    width: 296px;
    height: 36px;
    gap: 8px;
  }

  input {
    height: 40px;
    width: 100%;
    border: none;
    background: none;

    &:focus-visible {
      outline: none;
      background: none;
    }
  }

  .inputContainer {
    display: flex;
    outline: 1px solid $primary-30;
    border-radius: 8px;
    background: none;

    &:focus-within {
      outline: 2px solid $primary-40;
      background: none;
    }
  }

  .toggleEye {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
  }

  .errors {
    color: $danger-30;
    font-size: 0.8rem;
  }

  .inputErrorClass {
    border: 2px solid $danger-30;
  }

  .hint {
    font-size: 0.8rem;
  }
}
