@import '../../styles/var.scss';
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background: $white;
  // height: 640px;
  // width: 980px;
  border-radius: 20px;
  // padding: 0;

  .arrow_icon {
    position: absolute;
    top: 24px;
    left: 24px;
  }

  .closeIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }
}
