# Default ignored files
/shelf/
/workspace.xml
/workspace.xml
/tasks.xml
/dictionaries
/vcs.xml
/jsLibraryMappings.xml
# Sensitive or high-churn files:
/dataSources.ids
/dataSources.xml
/dataSources.local.xml
/sqlDataSources.xml
/dynamic.xml
/uiDesigner.xml
# other
/misc.xml
/**_theme_**.xml
