@import '/src/styles/var.scss';

.productDescriptionTabs {
  height: 300px;
  border: solid 1px yellow;
  background-color: $primary-40;
  padding: 20px 100px;

  .nav {
    a {
      color: black;
      width: 265px;
      border: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      margin-bottom: 15px;
    }
  }
}
