@font-face {
  font-family: 'Circe';
  src: url('/fonts/CRC25.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Bold';
  src: url('/fonts/CRC65.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
