@font-face {
  font-family: 'Circe';
  src: url('../../public/fonts/CRC25.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Bold';
  src: url('../../public/fonts/CRC65.woff') format('woff');
  font-weight: bolt;
  font-style: normal;
}
